<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<title>Signup</title>
  </head>
  <body>
  <h2 class="bg-primary text-centre">Sign up</h2>
    <div class="container-lg">
  <form method="post">
    {% csrf_token %}
    <p>
        <label for="id_username">Username:</label><br>
        <input type="text" name="username" maxlength="150" autofocus required id="id_username">
        <small style="color: grey">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
      </p>
    <p>
        <label for="id_first_name">First name:</label><br>
        <input type="text" name="first_name" maxlength="30" id="id_first_name">
        <small style="color: grey">Optional.</small>
     </p>
    <p>
        <label for="id_last_name">Last name:</label><br>
        <input type="text" name="last_name" maxlength="30" id="id_last_name">
        <small style="color: grey">Optional.</small>
      </p>
    <p>
        <label for="id_email">Email:</label><br>
        <input type="email" name="email" maxlength="254" required id="id_email">
       <small style="color: grey">Required. Inform a valid email address.</small>
      </p>
    <p>
        <label for="id_password1">Password:</label><br>
        <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
      <small style="color: grey"><ul><li>Your password can’t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can’t be a commonly used password.</li><li>Your password can’t be entirely numeric.</li></ul></small>
        </p>
    <p>
        <label for="id_password2">Password confirmation:</label><br>
        <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
        <small style="color: grey">Enter the same password as before, for verification.</small>
        </p>
      <button class="btn btn-primary" type="submit">Sign up</button>
  </form>
  <a href='signin'>Instead Signin<a>
  </div>
  
  </body>
</html>